**/*.dbl
**/*.flt
**/*.png
**/*.vkt
**/*.hdf5
**/*.log
**/*.out
**/*.o
**/__pycache__
**/.ipynb_checkpoints
**/.idea
Lib/
Config/
Doc/
Test_Problems/
Real_Problems/AGN_wind/pluto
Real_Problems/AGN_feedback/pluto
